<a href="https://colab.research.google.com/github/annwyl21/annwyl21.github.io/blob/main/anOverloadedOperator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python * operator

* is an overloaded operator in Python



'*' is used to multiply

In [16]:
n1 = 5
n2 = 10
f"Using * to multiply numbers: {n1} * {n2} = {n1*n2}"

'Using * to multiply numbers: 5 * 10 = 50'

'*' is used for power

In [17]:
f"{n1} squared is {n1**2}, "

'5 squared is 25, '

'*' is used to repeat

In [3]:
myname = 'Ellen'
f"Using * to repeat a string:\n{myname*15}"

Using * to repeat a string:
EllenEllenEllenEllenEllenEllenEllenEllenEllenEllenEllenEllenEllenEllenEllen

'*' is used to unpack a variadic function (*args)

*a variadic function takes an indefinite number of arguments*

In [19]:
def a_varidaic_function(mother, *children):
	return f"Mother is a positional argument, {mother}", f"The arguments passed to the parameter of 'children' are collected in a tuple, that is accessed using the parameter keyword {children}"

a_varidaic_function('Ellen', 'Hansel', 'Gretel')

('Mother is a positional argument, Ellen',
 "The arguments passed to the parameter of 'children' are collected in a tuple, that is accessed using the parameter keyword ('Hansel', 'Gretel')")

'*' is used to add keyword arguments in a parameter (kwargs)

*kwargs must go at the end of the parameters list*

The keyword arguments are stored in an invisible dictionary and can be accessed in the same way  a dictionary is typically accessed in Python
temperature[‘celsius’] will give the value of 200C
temperature[‘fahrenheit’] could also be used to access the 400F
allowing the values C or F to be handled differently in the code, as below using the conditional statement to eventually reach the gas mark keyword argument and access the approipriate print statement

In [20]:
def ovens(**temperature):
	if 'celsius' in temperature: # if celsius is in the keys of the invisible dictionary carry out this operation
		return f"Set your over to {temperature['celsius']}C"
	elif 'fahrenheit' in temperature:
		return f"Set your oven to {temperature['fahrenheit']}F"
	elif 'gas_mark' in temperature:
		return f"Set your oven to Gas Mark {temperature['gas_mark']}"
	else:
		return"Airfryers are not yet recognised on most packaging!"

ovens(gas_mark=6)

'Set your oven to Gas Mark 6'

'*' to enforce named parameters instead of positional arguments

Positional Arguments - the position determines whether the argument is attached to the first parameter

salary=25000 and tax=5000
these are assigned because the arguments sent in to the function appeared in a particular position 25000 was first so it was assigned to the parameter salary which was first

In [25]:
def salary_calculator(salary, tax):
	return salary - tax

salary_calculator(25000, 5000)

20000

Named Parameters - the parameter name must be used to enter the argument

Using named parameters means there is less room for confusion in important parameters such as confusing tax and salary,
but it also means that the parameters can be entered out of order

In [26]:
def better_salary_calc(*, salary, tax): # * is used here
	return salary - tax

better_salary_calc(tax=5000, salary=25000)

20000

'*' Passing and Unpacking arguments to a function and having them unpacked automatically

*The number of elements in the tuple MUST match the number of parameters*

In [27]:
mycomplicatedtuple = (100, 200, 300)
def my_complicated_function(a, b, c):
	return a+b+c

my_complicated_function(*mycomplicatedtuple) # * is used here

600

'*' for extended iterable unpacking
Here is is known as the 'wildcard'

Extended Iterable Unpacking

means that teacher is Mrs Peters

and all the pupils can be grouped together in ['Sophie', 'James', 'Rogan', 'Sally', 'Margaret']

In [30]:
myclass = ('Mrs Peters', 'Sophie', 'James', 'Rogan', 'Sally', 'Margaret')
teacher, *pupils = myclass # * at the end
f"Teacher: {teacher} and Pupils: {pupils}"

"Teacher: Mrs Peters and Pupils: ['Sophie', 'James', 'Rogan', 'Sally', 'Margaret']"

Or like this...

The order doesn't matter because python is smart at unpacking

In [31]:
anotherclass = ('Phillip', 'Markus', 'Abdul', 'Mrs Simons')
*kids, their_teacher = anotherclass # * at the start
print(f"Pupils: {kids} Teacher: {their_teacher}")

Pupils: ['Phillip', 'Markus', 'Abdul'] Teacher: Mrs Simons

Or even like this...

Isn't that clever!

In [32]:
class_trip = ('Mrs Mathews', 'Paul', 'Tammy', 'Alice', 'Mrs Peters', 'Mr Simons')
classteacher, *kids_on_trip, staffmember, parenthelper = class_trip # * in the middle
print(f"{classteacher}, {kids_on_trip}, {staffmember}, {parenthelper}")

Mrs Mathews, ['Paul', 'Tammy', 'Alice'], Mrs Peters, Mr Simons

That must be why Python is magic***